* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  background-color: aquamarine;
}
.logo-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.logo {
  color: black;
  font-size: 1em;
  font-style: italic;
  padding-left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
span {
  display: flex;
  flex-direction: column;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links a {
  color: black;
}
button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
}
button i {
  color: blue;
}
